body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.tt{
    width: 90%;
    margin: auto;
}

ul{
    margin: 0;
    padding: 0;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dd{
    padding: 15px;
    background: #ff7b0f;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
}

.darkb{
    font-size: large;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cta{
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #ccc;
    font-weight: bold;
}

#boxes{
    margin-top: 20px;
    padding: 5px;
}

#boxes .box{
    float: left;
    width:45% ;
    padding: 10px;
    margin: 0px 5px 20px 5px;
    text-align: center;
    border: 1px solid #ff0000;
    border-radius: 20px;
}

#boxes .box img{
    width: 50%;
}


article#main-col{
    width: 100%;
}


footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #e8491d;
    text-align: center;
}

@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #boxes .box,
    article#main-col{
        float: none;
        text-align: center;
        width: 100%;
    }

    .tt{
        width: 80%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }
}